[submodule "lib/backbone-x/lib/backbone"]
  path = lib/backbone-x/lib/backbone
  url = https://github.com/documentcloud/backbone.git
[submodule "lib/backbone-x/lib/Backbone-relational"]
  path = lib/backbone-x/lib/Backbone-relational
  url = https://github.com/PaulUithol/Backbone-relational.git
[submodule "lib/tools/lib/underscore"]
  path = lib/tools/lib/underscore
  url = https://github.com/documentcloud/underscore.git
[submodule "lib/backbone-x/lib/JSON-Patch"]
  path = lib/backbone-x/lib/JSON-Patch
  url = https://github.com/xtuple/JSON-Patch.git
[submodule "lib/tools/lib/async"]
	path = lib/tools/lib/async
	url = https://github.com/caolan/async.git
[submodule "lib/tools/lib/underscore.inflection"]
	path = lib/tools/lib/underscore.inflection
	url = https://github.com/jeremyruppel/underscore.inflection.git
